[
 {:process 0 :type :invoke :f :read :value ["k1" nil]}
 {:process 1 :type :invoke :f :write :value ["k2" "v0"]}
 {:process 2 :type :invoke :f :write :value ["k2" "v0"]}
 {:process 1 :type :ok :f :write :value ["k2" "v0"]}
 {:process 0 :type :ok :f :read :value ["k1" nil]}
 {:process 2 :type :ok :f :write :value ["k2" "v0"]}
 {:process 1 :type :invoke :f :read :value ["k4" nil]}
 {:process 1 :type :ok :f :read :value ["k4" nil]}
 {:process 2 :type :invoke :f :read :value ["k2" nil]}
 {:process 2 :type :ok :f :read :value ["k2" "v0"]}
 {:process 0 :type :invoke :f :read :value ["k2" nil]}
 {:process 1 :type :invoke :f :cas :value ["k2" "v0" "v2"]}
 {:process 0 :type :ok :f :read :value ["k2" "v0"]}
 {:process 1 :type :ok :f :cas :value ["k2" "v0" "v2"]}
 {:process 0 :type :invoke :f :write :value ["k4" "v2"]}
 {:process 1 :type :invoke :f :read :value ["k2" nil]}
 {:process 2 :type :invoke :f :read :value ["k3" nil]}
 {:process 1 :type :ok :f :read :value ["k2" "v2"]}
 {:process 0 :type :ok :f :write :value ["k4" "v2"]}
 {:process 2 :type :ok :f :read :value ["k3" nil]}
 {:process 0 :type :invoke :f :read :value ["k0" nil]}
 {:process 0 :type :ok :f :read :value ["k0" nil]}
 {:process 1 :type :invoke :f :read :value ["k1" nil]}
 {:process 0 :type :invoke :f :write :value ["k2" "v4"]}
 {:process 0 :type :ok :f :write :value ["k2" "v4"]}
 {:process 1 :type :ok :f :read :value ["k1" nil]}
 {:process 2 :type :invoke :f :read :value ["k1" nil]}
 {:process 1 :type :invoke :f :write :value ["k3" "v5"]}
 {:process 2 :type :ok :f :read :value ["k1" nil]}
 {:process 1 :type :ok :f :write :value ["k3" "v5"]}
 {:process 0 :type :invoke :f :write :value ["k1" "v5"]}
 {:process 0 :type :ok :f :write :value ["k1" "v5"]}
 {:process 2 :type :invoke :f :read :value ["k4" nil]}
 {:process 1 :type :invoke :f :read :value ["k3" nil]}
 {:process 2 :type :ok :f :read :value ["k4" "v2"]}
 {:process 1 :type :ok :f :read :value ["k3" "v5"]}
 {:process 2 :type :invoke :f :write :value ["k2" "v5"]}
 {:process 0 :type :invoke :f :read :value ["k0" nil]}
 {:process 2 :type :ok :f :write :value ["k2" "v5"]}
 {:process 0 :type :ok :f :read :value ["k0" nil]}
 {:process 1 :type :invoke :f :read :value ["k1" nil]}
 {:process 1 :type :ok :f :read :value ["k1" "v5"]}
 {:process 0 :type :invoke :f :read :value ["k4" nil]}
 {:process 0 :type :ok :f :read :value ["k4" "v2"]}
 {:process 1 :type :invoke :f :write :value ["k3" "v8"]}
 {:process 2 :type :invoke :f :read :value ["k4" nil]}
 {:process 1 :type :ok :f :write :value ["k3" "v8"]}
 {:process 2 :type :ok :f :read :value ["k4" "v2"]}
 {:process 0 :type :invoke :f :read :value ["k2" nil]}
 {:process 1 :type :invoke :f :read :value ["k0" nil]}
 {:process 0 :type :ok :f :read :value ["k2" "v5"]}
 {:process 1 :type :ok :f :read :value ["k0" nil]}
 {:process 2 :type :invoke :f :read :value ["k0" nil]}
 {:process 2 :type :ok :f :read :value ["k0" nil]}
 {:process 1 :type :invoke :f :write :value ["k0" "v10"]}
 {:process 0 :type :invoke :f :read :value ["k0" nil]}
 {:process 0 :type :ok :f :read :value ["k0" nil]}
 {:process 1 :type :ok :f :write :value ["k0" "v10"]}
 {:process 2 :type :invoke :f :write :value ["k0" "v8"]}
 {:process 0 :type :invoke :f :read :value ["k0" nil]}
 {:process 2 :type :ok :f :write :value ["k0" "v8"]}
 {:process 0 :type :ok :f :read :value ["k0" "v8"]}
 {:process 1 :type :invoke :f :write :value ["k2" "v11"]}
 {:process 1 :type :ok :f :write :value ["k2" "v11"]}
 {:process 1 :type :invoke :f :read :value ["k4" nil]}
 {:process 2 :type :invoke :f :write :value ["k4" "v9"]}
 {:process 0 :type :invoke :f :write :value ["k3" "v11"]}
 {:process 2 :type :ok :f :write :value ["k4" "v9"]}
 {:process 0 :type :ok :f :write :value ["k3" "v11"]}
 {:process 1 :type :ok :f :read :value ["k4" "v9"]}
 {:process 2 :type :invoke :f :read :value ["k1" nil]}
 {:process 2 :type :ok :f :read :value ["k1" "v5"]}
 {:process 1 :type :invoke :f :read :value ["k1" nil]}
 {:process 0 :type :invoke :f :read :value ["k1" nil]}
 {:process 0 :type :ok :f :read :value ["k1" "v5"]}
 {:process 1 :type :ok :f :read :value ["k1" "v5"]}
 {:process 2 :type :invoke :f :read :value ["k4" nil]}
 {:process 2 :type :ok :f :read :value ["k4" "v9"]}
 {:process 2 :type :invoke :f :write :value ["k2" "v12"]}
 {:process 0 :type :invoke :f :write :value ["k1" "v13"]}
 {:process 2 :type :ok :f :write :value ["k2" "v12"]}
 {:process 0 :type :ok :f :write :value ["k1" "v13"]}
 {:process 1 :type :invoke :f :read :value ["k2" nil]}
 {:process 1 :type :ok :f :read :value ["k2" "v12"]}
 {:process 2 :type :invoke :f :write :value ["k3" "v13"]}
 {:process 0 :type :invoke :f :write :value ["k3" "v14"]}
 {:process 2 :type :ok :f :write :value ["k3" "v13"]}
 {:process 0 :type :ok :f :write :value ["k3" "v14"]}
 {:process 1 :type :invoke :f :read :value ["k1" nil]}
 {:process 1 :type :ok :f :read :value ["k1" "v13"]}
 {:process 0 :type :invoke :f :write :value ["k2" "v15"]}
 {:process 0 :type :ok :f :write :value ["k2" "v15"]}
 {:process 2 :type :invoke :f :cas :value ["k4" "v9" "v14"]}
 {:process 1 :type :invoke :f :read :value ["k0" nil]}
 {:process 2 :type :ok :f :cas :value ["k4" "v9" "v14"]}
 {:process 1 :type :ok :f :read :value ["k0" "v8"]}
 {:process 2 :type :invoke :f :read :value ["k2" nil]}
 {:process 0 :type :invoke :f :write :value ["k3" "v16"]}
 {:process 2 :type :ok :f :read :value ["k2" "v15"]}
 {:process 0 :type :ok :f :write :value ["k3" "v16"]}
 {:process 1 :type :invoke :f :write :value ["k0" "v17"]}
 {:process 1 :type :ok :f :write :value ["k0" "v17"]}
 {:process 2 :type :invoke :f :write :value ["k3" "v16"]}
 {:process 1 :type :invoke :f :write :value ["k2" "v18"]}
 {:process 2 :type :ok :f :write :value ["k3" "v16"]}
 {:process 1 :type :ok :f :write :value ["k2" "v18"]}
 {:process 2 :type :invoke :f :read :value ["k1" nil]}
 {:process 0 :type :invoke :f :write :value ["k2" "v17"]}
 {:process 2 :type :ok :f :read :value ["k1" "v13"]}
 {:process 0 :type :ok :f :write :value ["k2" "v17"]}
 {:process 1 :type :invoke :f :write :value ["k3" "v19"]}
 {:process 0 :type :invoke :f :write :value ["k4" "v18"]}
 {:process 0 :type :ok :f :write :value ["k4" "v18"]}
 {:process 1 :type :ok :f :write :value ["k3" "v19"]}
 {:process 0 :type :invoke :f :write :value ["k1" "v19"]}
 {:process 2 :type :invoke :f :read :value ["k0" nil]}
 {:process 2 :type :ok :f :read :value ["k0" "v17"]}
 {:process 0 :type :ok :f :write :value ["k1" "v19"]}
 {:process 0 :type :invoke :f :write :value ["k2" "v20"]}
 {:process 1 :type :invoke :f :read :value ["k0" nil]}
 {:process 0 :type :ok :f :write :value ["k2" "v20"]}
 {:process 1 :type :ok :f :read :value ["k0" "v17"]}
 {:process 2 :type :invoke :f :read :value ["k1" nil]}
 {:process 2 :type :ok :f :read :value ["k1" "v19"]}
 {:process 2 :type :invoke :f :write :value ["k2" "v20"]}
 {:process 1 :type :invoke :f :read :value ["k4" nil]}
 {:process 0 :type :invoke :f :read :value ["k3" nil]}
 {:process 2 :type :ok :f :write :value ["k2" "v20"]}
 {:process 1 :type :ok :f :read :value ["k4" "v18"]}
 {:process 0 :type :ok :f :read :value ["k3" "v19"]}
 {:process 1 :type :invoke :f :read :value ["k3" nil]}
 {:process 0 :type :invoke :f :cas :value ["k1" "v19" "v22"]}
 {:process 1 :type :ok :f :read :value ["k3" "v19"]}
 {:process 0 :type :ok :f :cas :value ["k1" "v19" "v22"]}
 {:process 2 :type :invoke :f :write :value ["k3" "v21"]}
 {:process 2 :type :ok :f :write :value ["k3" "v21"]}
 {:process 2 :type :invoke :f :read :value ["k2" nil]}
 {:process 2 :type :ok :f :read :value ["k2" "v20"]}
 {:process 1 :type :invoke :f :write :value ["k1" "v23"]}
 {:process 1 :type :ok :f :write :value ["k1" "v23"]}
 {:process 1 :type :invoke :f :read :value ["k2" nil]}
 {:process 0 :type :invoke :f :write :value ["k1" "v23"]}
 {:process 2 :type :invoke :f :read :value ["k1" nil]}
 {:process 2 :type :ok :f :read :value ["k1" "v23"]}
 {:process 0 :type :ok :f :write :value ["k1" "v23"]}
 {:process 1 :type :ok :f :read :value ["k2" "v20"]}
 {:process 0 :type :invoke :f :read :value ["k2" nil]}
 {:process 0 :type :ok :f :read :value ["k2" "v20"]}
 {:process 1 :type :invoke :f :read :value ["k0" nil]}
 {:process 2 :type :invoke :f :read :value ["k0" nil]}
 {:process 1 :type :ok :f :read :value ["k0" "v17"]}
 {:process 2 :type :ok :f :read :value ["k0" "v17"]}
 {:process 2 :type :invoke :f :write :value ["k1" "v25"]}
 {:process 0 :type :invoke :f :read :value ["k0" nil]}
 {:process 2 :type :ok :f :write :value ["k1" "v25"]}
 {:process 0 :type :ok :f :read :value ["k0" "v17"]}
 {:process 1 :type :invoke :f :write :value ["k2" "v26"]}
 {:process 1 :type :ok :f :write :value ["k2" "v26"]}
 {:process 2 :type :invoke :f :read :value ["k0" nil]}
 {:process 0 :type :invoke :f :read :value ["k0" nil]}
 {:process 2 :type :ok :f :read :value ["k0" "v17"]}
 {:process 0 :type :ok :f :read :value ["k0" "v17"]}
 {:process 0 :type :invoke :f :read :value ["k3" nil]}
 {:process 1 :type :invoke :f :read :value ["k1" nil]}
 {:process 2 :type :invoke :f :read :value ["k4" nil]}
 {:process 2 :type :ok :f :read :value ["k4" "v18"]}
 {:process 1 :type :ok :f :read :value ["k1" "v25"]}
 {:process 0 :type :ok :f :read :value ["k3" "v21"]}
 {:process 0 :type :invoke :f :read :value ["k0" nil]}
 {:process 0 :type :ok :f :read :value ["k0" "v17"]}
 {:process 1 :type :invoke :f :read :value ["k2" nil]}
 {:process 2 :type :invoke :f :read :value ["k2" nil]}
 {:process 2 :type :ok :f :read :value ["k2" "v26"]}
 {:process 1 :type :ok :f :read :value ["k2" "v26"]}
 {:process 0 :type :invoke :f :read :value ["k2" nil]}
 {:process 1 :type :invoke :f :write :value ["k0" "v29"]}
 {:process 0 :type :ok :f :read :value ["k2" "v26"]}
 {:process 1 :type :ok :f :write :value ["k0" "v29"]}
 {:process 2 :type :invoke :f :write :value ["k3" "v29"]}
 {:process 2 :type :ok :f :write :value ["k3" "v29"]}
 {:process 0 :type :invoke :f :cas :value ["k4" "v18" "v30"]}
 {:process 0 :type :ok :f :cas :value ["k4" "v18" "v30"]}
 {:process 2 :type :invoke :f :read :value ["k2" nil]}
 {:process 1 :type :invoke :f :cas :value ["k1" "v23" "v30"]}
 {:process 0 :type :invoke :f :write :value ["k2" "v31"]}
 {:process 2 :type :ok :f :read :value ["k2" "v26"]}
 {:process 1 :type :fail :f :cas :value ["k1" "v23" "v30"] :error "precondition-failed"}
 {:process 0 :type :ok :f :write :value ["k2" "v31"]}
 {:process 2 :type :invoke :f :write :value ["k0" "v31"]}
 {:process 1 :type :invoke :f :write :value ["k0" "v31"]}
 {:process 2 :type :ok :f :write :value ["k0" "v31"]}
 {:process 1 :type :ok :f :write :value ["k0" "v31"]}
 {:process 0 :type :invoke :f :read :value ["k1" nil]}
 {:process 0 :type :ok :f :read :value ["k1" "v25"]}
 {:process 2 :type :invoke :f :read :value ["k1" nil]}
 {:process 2 :type :ok :f :read :value ["k1" "v25"]}
 {:process 0 :type :invoke :f :write :value ["k1" "v33"]}
 {:process 1 :type :invoke :f :write :value ["k4" "v32"]}
 {:process 0 :type :ok :f :write :value ["k1" "v33"]}
 {:process 1 :type :ok :f :write :value ["k4" "v32"]}
 {:process 0 :type :invoke :f :write :value ["k4" "v34"]}
 {:process 2 :type :invoke :f :read :value ["k0" nil]}
 {:process 0 :type :ok :f :write :value ["k4" "v34"]}
 {:process 2 :type :ok :f :read :value ["k0" "v31"]}
 {:process 1 :type :invoke :f :read :value ["k3" nil]}
 {:process 1 :type :ok :f :read :value ["k3" "v29"]}
 {:process 2 :type :invoke :f :write :value ["k0" "v34"]}
 {:process 2 :type :ok :f :write :value ["k0" "v34"]}
 {:process 1 :type :invoke :f :write :value ["k3" "v34"]}
 {:process 0 :type :invoke :f :write :value ["k0" "v35"]}
 {:process 1 :type :ok :f :write :value ["k3" "v34"]}
 {:process 0 :type :ok :f :write :value ["k0" "v35"]}
 {:process 0 :type :invoke :f :write :value ["k1" "v36"]}
 {:process 2 :type :invoke :f :read :value ["k0" nil]}
 {:process 1 :type :invoke :f :read :value ["k0" nil]}
 {:process 2 :type :ok :f :read :value ["k0" "v35"]}
 {:process 0 :type :ok :f :write :value ["k1" "v36"]}
 {:process 1 :type :ok :f :read :value ["k0" "v35"]}
 {:process 1 :type :invoke :f :write :value ["k1" "v36"]}
 {:process 1 :type :ok :f :write :value ["k1" "v36"]}
 {:process 0 :type :invoke :f :write :value ["k1" "v37"]}
 {:process 0 :type :ok :f :write :value ["k1" "v37"]}
 {:process 2 :type :invoke :f :write :value ["k0" "v36"]}
 {:process 2 :type :ok :f :write :value ["k0" "v36"]}
 {:process 1 :type :invoke :f :read :value ["k1" nil]}
 {:process 1 :type :ok :f :read :value ["k1" "v37"]}
 {:process 2 :type :invoke :f :write :value ["k2" "v37"]}
 {:process 0 :type :invoke :f :read :value ["k4" nil]}
 {:process 2 :type :ok :f :write :value ["k2" "v37"]}
 {:process 0 :type :ok :f :read :value ["k4" "v34"]}
 {:process 1 :type :invoke :f :read :value ["k2" nil]}
 {:process 1 :type :ok :f :read :value ["k2" "v37"]}
 {:process 2 :type :invoke :f :write :value ["k4" "v38"]}
 {:process 0 :type :invoke :f :read :value ["k4" nil]}
 {:process 2 :type :ok :f :write :value ["k4" "v38"]}
 {:process 0 :type :ok :f :read :value ["k4" "v38"]}
 {:process 1 :type :invoke :f :read :value ["k1" nil]}
 {:process 1 :type :ok :f :read :value ["k1" "v37"]}
 {:process 0 :type :invoke :f :read :value ["k3" nil]}
 {:process 0 :type :ok :f :read :value ["k3" "v34"]}
 {:process 1 :type :invoke :f :write :value ["k2" "v40"]}
 {:process 2 :type :invoke :f :write :value ["k0" "v39"]}
 {:process 2 :type :ok :f :write :value ["k0" "v39"]}
 {:process 1 :type :ok :f :write :value ["k2" "v40"]}
 {:process 0 :type :invoke :f :write :value ["k2" "v41"]}
 {:process 0 :type :ok :f :write :value ["k2" "v41"]}
 {:process 2 :type :invoke :f :read :value ["k4" nil]}
 {:process 1 :type :invoke :f :write :value ["k1" "v41"]}
 {:process 2 :type :ok :f :read :value ["k4" "v38"]}
 {:process 1 :type :ok :f :write :value ["k1" "v41"]}
 {:process 1 :type :invoke :f :write :value ["k2" "v42"]}
 {:process 1 :type :ok :f :write :value ["k2" "v42"]}
 {:process 0 :type :invoke :f :read :value ["k1" nil]}
 {:process 0 :type :ok :f :read :value ["k1" "v41"]}
 {:process 1 :type :invoke :f :write :value ["k0" "v43"]}
 {:process 2 :type :invoke :f :read :value ["k0" nil]}
 {:process 1 :type :ok :f :write :value ["k0" "v43"]}
 {:process 2 :type :ok :f :read :value ["k0" "v43"]}
 {:process 0 :type :invoke :f :write :value ["k4" "v43"]}
 {:process 1 :type :invoke :f :read :value ["k1" nil]}
 {:process 0 :type :ok :f :write :value ["k4" "v43"]}
 {:process 1 :type :ok :f :read :value ["k1" "v41"]}
 {:process 2 :type :invoke :f :write :value ["k2" "v42"]}
 {:process 2 :type :ok :f :write :value ["k2" "v42"]}
 {:process 0 :type :invoke :f :read :value ["k4" nil]}
 {:process 0 :type :ok :f :read :value ["k4" "v43"]}
 {:process 2 :type :invoke :f :write :value ["k1" "v43"]}
 {:process 1 :type :invoke :f :write :value ["k0" "v45"]}
 {:process 2 :type :ok :f :write :value ["k1" "v43"]}
 {:process 1 :type :ok :f :write :value ["k0" "v45"]}
 {:process 0 :type :invoke :f :write :value ["k4" "v45"]}
 {:process 0 :type :ok :f :write :value ["k4" "v45"]}
 {:process 1 :type :invoke :f :write :value ["k1" "v46"]}
 {:process 0 :type :invoke :f :cas :value ["k1" "v37" "v46"]}
 {:process 2 :type :invoke :f :cas :value ["k4" "v38" "v44"]}
 {:process 1 :type :ok :f :write :value ["k1" "v46"]}
 {:process 0 :type :fail :f :cas :value ["k1" "v37" "v46"] :error "precondition-failed"}
 {:process 2 :type :fail :f :cas :value ["k4" "v38" "v44"] :error "precondition-failed"}
 {:process 2 :type :invoke :f :read :value ["k3" nil]}
 {:process 2 :type :ok :f :read :value ["k3" "v34"]}
 {:process 0 :type :invoke :f :read :value ["k3" nil]}
 {:process 1 :type :invoke :f :write :value ["k4" "v47"]}
 {:process 0 :type :ok :f :read :value ["k3" "v34"]}
 {:process 1 :type :ok :f :write :value ["k4" "v47"]}
 {:process 2 :type :invoke :f :write :value ["k3" "v46"]}
 {:process 2 :type :ok :f :write :value ["k3" "v46"]}
 {:process 1 :type :invoke :f :read :value ["k0" nil]}
 {:process 0 :type :invoke :f :write :value ["k0" "v48"]}
 {:process 0 :type :ok :f :write :value ["k0" "v48"]}
 {:process 1 :type :ok :f :read :value ["k0" "v48"]}
 {:process 0 :type :invoke :f :read :value ["k4" nil]}
 {:process 0 :type :ok :f :read :value ["k4" "v47"]}
 {:process 2 :type :invoke :f :write :value ["k4" "v47"]}
 {:process 1 :type :invoke :f :cas :value ["k4" "v47" "v49"]}
 {:process 2 :type :ok :f :write :value ["k4" "v47"]}
 {:process 1 :type :ok :f :cas :value ["k4" "v47" "v49"]}
 {:process 2 :type :invoke :f :write :value ["k4" "v48"]}
 {:process 2 :type :ok :f :write :value ["k4" "v48"]}
 {:process 2 :type :invoke :f :write :value ["k1" "v49"]}
 {:process 2 :type :ok :f :write :value ["k1" "v49"]}
]
